button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  text-align: center;
  background-color: black;
}

.game {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  background: url(img/background.png) center/cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center; /* 아이콘 가운데로 정렬 */
  padding: 20px;
}

.ground {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.start-btn {
  width: 60px;
  height: 60px;
  border: 4px solid;
  transition: transform 300ms ease-in;
}
.start-btn:hover {
  transform: scale(1.1);
}

.timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  border-radius: 30px;
  font-size: 32px;
  margin-top: 8px;
  /* display: none;이면 tree에 아예 포함되지 않아서 필드 사이즈에 영향을 줄 수 있음 */
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.score {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-top: 8px;
  font-size: 46px;
  background-color: whitesmoke;
  border: 3px solid;
  border-radius: 50%;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

audio {
  position: absolute;
  top: 20px;
  right: 30px;
}

.pop-up {
  display: block;
  margin: auto;
  width: 400px;
  height: 120px;
  padding: 20px;
  border-radius: 20px;
  background-color: #00000090;
  color: whitesmoke;
  text-align: center;
  transform: translateY(-170%);
}
.pop-up--hide {
  display: none;
}
.refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: whitesmoke;
  border: 2px solid;
  border-radius: 50%;
}
.msg {
  /* 메시지가 그 다음줄에 나오도록 */
  display: block;
  font-size: 38px;
}

.carrot,
.bug {
  transition: transform 100ms ease-in;
}
.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
